body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.Title-Background {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('./images/Title-curtain.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none; /* 文字の選択を禁止 */
  -webkit-user-select: none; /* Safari 対応 */
  -moz-user-select: none; /* Firefox 対応 */
  -ms-user-select: none; /* IE 対応 */
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Title h1 {
  font-size: 150px;
}

.Title h1,
.Daigo{
  font-family: 'Great Vibes', cursive;
  animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}

.ripple {
  position: absolute;
  width: var(--size, 5px);
  height: var(--size, 5px);
  border: 2px solid rgba(255, 255, 255, 0.5); /* 輪郭だけ */
  background: transparent;                     /* 中は透明 */
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: rippleAnim 25s ease-out forwards;
  animation-delay: var(--delay, 0s);
}

.ripple:nth-child(1) { animation-delay: 0s; }
.ripple:nth-child(2) { animation-delay: 0.1s; }
.ripple:nth-child(3) { animation-delay: 0.2s; }

@keyframes rippleAnim {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 10;
  }
  100% {
    transform: translate(-50%, -50%) scale(50);
    opacity: 1;
  }
}


