.Background{
    background: linear-gradient(135deg, #667eea, #764ba2);
    background-size: 600% 600%;
    animation: gradientMove 8s ease infinite;
}
.PasswordAttack-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  background-attachment: fixed;
  overflow-y: auto;  /* スクロール可能に */
  position: relative;  /* 前面に出す基準 */
  z-index: 1;          /* 背景より上に表示 */
  color: black;
}

.Title-txt {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 40px;
}

.container {
  width: 90%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
}

.Attack-list{
    width: 700px;
    color: white;        /* 背景に対して見やすい色に */
}

.Attack-list ul {
  margin-left: 20px; /* リストを少しインデント */
  padding-left: 0;
}

.Attack-list li,
.Attack-list p {
  margin-bottom: 10px; /* 行間を開ける */
  text-align: left;
}

.Attack-list p{
    font-size: 30px;
}

.Prediction-Attack p{
    color: black;
    text-align: left;
    font-size: 20px;
}

.Prediction-Attack-list{
    color: white;
    text-align: left;
}

.Problem{
  margin-bottom: 20px;
  line-height: 1.8;
  max-width: 800px;  /* 文字が横に広がりすぎないように */
  text-align: left;
  color: black;
}